html
    link(rel='stylesheet', href='/css/response.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora',type="text/css")
    p Your user information:
    p#info #{info}
